---
import Layout from '@/layouts/DefaultLayout.astro';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.isoDate).valueOf() - new Date(a.frontmatter.isoDate).valueOf()
);

const featuredPost = posts.shift()
---

<Layout>
	<section class="container grey-container">
		<a class="l-1-2" href={featuredPost.url}>
			<div class="c-header">
				<span class="is-posttitle">BLOG</span>
				<h1 class="is-title-1 c-main-title">{featuredPost?.frontmatter.title || 'No article found'}</h1>
				<p class="c-main-para">{featuredPost?.frontmatter.author} • { featuredPost?.frontmatter.date }</p>
			</div>
			<img class="c-header-image" src={featuredPost?.frontmatter.image}/>
		</a>
	</section>

	<section class="l-1-1-1" v-if="posts">
			{posts.map((article) => (
				<article>
					<a href={article.url}>
							<img class="c-article-image" src={article.frontmatter.image || '/images/' + article.url + '.jpeg'}/>
							<h2 class="c-blog-title">{article.frontmatter.title}</h2>
							<p>{article.frontmatter.description || 'TODO'}</p>
							<div class="c-info">{article.frontmatter.author || "Greg Slepak"}<time v-if="article.frontmatter.date">{ article.frontmatter.date }</time></div>
					</a>
				</article>
			))}
	</section>
</Layout>

<style lang="scss" is:global>
@import "../styles/_variables";
@import "../styles/_mixins";
.c-blog-wrapper {
	.icon-link {
		display: none;
	}

	.icon-link::before {
		font-family: "Font Awesome 5 Free";
	}

	ul, ol {
		margin: 1rem 0 1.5rem 1rem;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h1, h2{
		margin-top: 4rem;
	}

	h1, h2, h3, h4, h5, h6, p, li {
		margin-bottom: 1rem;
	}

	a {
		color: $primary_0;

		background: linear-gradient(to right, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0)),
								linear-gradient(to right, $primary_0, $primary_0);
		background-size: 100% 0.1em, 0 0.1em;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
		transition: background-size 400ms;
		&:hover,
		&:focus {
			background-size: 0 0.1em, 100% 0.1em;
		}
	}

	img {
		margin: 2rem 0;
	}

	table {
		margin: 1rem 0 3rem 0;
	}

	th {
		padding: 1rem;
		border-bottom: 2px solid #ddd;
	}

	td {
		padding: 1rem;
		border-bottom: 1px solid #ddd;
	}

	center {
		margin-bottom: 1rem;
	}

	ul {
		list-style-type: disc;
	}

	.footnotes {
		font-size: .8rem;
	}

	iframe {
		margin: 2rem auto;
		max-width: 100%;
	}

	blockquote {
		border-left: 5px solid rgba(0, 0, 0, .15);
		padding: 10px 18px;
		font-style: italic;
		margin: 0 0 1.5em;

		p:last-child {
			margin-bottom: 0;
		}
	}

	.gallery {
		display: flex;
		justify-content: space-around;

		img {
			min-width: 1px;
			padding: .3rem;
		}
	}
}
</style>
	
<style lang="scss" scoped>
@import "../styles/_variables";
@import "../styles/_mixins";
.c-header {
	display: flex;
	flex-direction: column;
	min-height: 32rem;
	justify-content: center;

	@include until($tablet) {
		min-height: auto;
		margin-top: 1rem;
		margin-bottom: 5rem;
	}
}

.c-header-image {
	width: 100%;
	height: 20rem;
	max-height: 44vw;
	object-fit: cover;
}

.grey-container {
	margin-bottom: 6rem;
}

section {
	@include until($desktop) {
		padding: 0 2rem;
	}
}

.c-info,
.c-main-para {
	color: #939393;
}

.l-1-2 {
	min-height: 32rem;

	@include until($tablet) {
		display: flex;
		flex-direction: column-reverse;
		margin-top: 2rem;
	}
}

.l-1-1-1 {
	.c-article-image {
		background-color: #D0DEEA;
		border-radius: .5rem;
		width: 100%;
		aspect-ratio: 2 / 1;
		object-fit: cover;
	}
}

.c-article-image {
	background-color: #D0DEEA;
	border-radius: .5rem;
}

.c-blog-title,
.c-main-title {
	margin: 1rem 0 1rem 0;
}

.c-blog-title {
	font-weight: 600;

	@include phone {
		line-height: 1.4;
	}
}

.c-main-title {
	font-size: 3.5rem;

	@include until($desktop) {
		font-size: 3rem;
		line-height: 1.2;
	}

	@include phone {
		font-size: 2.25rem;
	}
}

.c-info {
	font-weight: .5rem;
	margin: 1rem 0 3rem 0;

	time::before {
		content: ' • ';
	}
}

.c-article {
	border-bottom: 1px solid #D0DEEA;
	padding-bottom: 2rem;
	margin-bottom: 5rem;

	p {
		margin-bottom: 1.5rem;
	}

	img {
		margin: 2rem auto;
	}

	h2 {
		font-size: 2rem;
		font-weight: 600;
	}
}

.c-article-link {
	display: flex;
	align-items: flex-start;

	strong {
		color: #0AA5DE;
		size: $size_4;
	}

	img {
		width: 16rem;
		height: auto;
		max-width: 100%;
		margin-right: 2rem;
		object-fit: cover;
	}

	.c-blog-title {
		max-width: 21rem;
		margin-top: .2rem;
		margin-bottom: -.5rem;
	}

	@include phone {
		flex-direction: column;

		img {
			width: 100%;
			margin-right: 0;
			margin-bottom: 2rem;
		}
	}
}
</style>