---
import Layout from './DefaultLayout.astro';
import { resolvePath } from '@/utils/helpers.js'

export interface Props {
	content: {
		title: string;
		description: string;
		author?: string;
		date?: string;
		isoDate?: string;
		updatedDate?: string;
		image?: string;
		url: string;
	},
}

const {
	content: { title, author, description, date, image, url },
} = Astro.props;
const imgSrc = image ? resolvePath(image) : resolvePath(`images/${url}.jpeg`)

---

<Layout title={title} description={description} image={imgSrc} pageType="blogpost">
	<section class="container grey-container">
		<div class="l-1-2 c-blog-header">
			<div class="c-header">
				<a class="is-posttitle" href="/blog">BLOG</a>
				<h1 class="is-title-1 c-main-title">{title}</h1>
				<p class="c-main-para">{author} • { date }</p>
			</div>

			<div class='c-header-img-container has-deep-box-shadow'>
				<img class="c-header-image" src={imgSrc}/>
			</div>
		</div>
	</section>

	<section class="l-1">
			<article class="c-article c-blog-wrapper">
				<slot />
			</article>
	</section>
</Layout>

<style lang="scss" scoped>
@use "../styles/variables" as *;

.c-header {
	display: flex;
	flex-direction: column;
	min-height: 32rem;
	justify-content: center;

	@include until($tablet) {
		min-height: auto;
		margin-top: 1rem;
	}
}

.c-header-img-container {
	position: relative;
	width: 100%;
	height: max-content;
	border-radius: 0.5rem;
	overflow: hidden;
}

.c-header-image {
	width: 100%;
	height: 20rem;
	max-height: 44vw;
	object-fit: cover;
}

.grey-container {
	margin-bottom: 6rem;

	@include until($tablet) {
		margin-bottom: 2rem;
		padding-bottom: 2rem;
	}
}

section {
	padding: 0 1rem;

	@include from ($tablet) {
		padding: 0 2rem;
	}
}

.c-info,
.c-main-para {
	color: #939393;
}

.c-blog-header.l-1-2 {
	min-height: 32rem;

	@include until($tablet) {
		display: flex;
		flex-direction: column-reverse;
		margin-top: 2rem;
		min-height: auto;
	}
}

.l-1-1-1 {
	.c-article-image {
		background-color: #D0DEEA;
		border-radius: .5rem;
		width: 100%;
		aspect-ratio: 2 / 1;
		object-fit: cover;
	}
}

.c-article-image {
	background-color: #D0DEEA;
	border-radius: .5rem;
}

.c-blog-title,
.c-main-title {
	margin: 1rem 0 1rem 0;
}

.c-blog-title {
	font-weight: 600;

	@include phone {
		line-height: 1.4;
	}
}

.c-main-title {
	font-size: 3.5rem;

	@include until($desktop) {
		font-size: 3rem;
		line-height: 1.2;
	}

	@include phone {
		font-size: 2.25rem;
	}
}

.c-info {
	font-weight: .5rem;
	margin: 1rem 0 3rem 0;

	time::before {
		content: ' • ';
	}
}

.c-article {
	border-bottom: 1px solid #D0DEEA;
	padding-bottom: 2rem;
	margin-bottom: 5rem;

	p {
		margin-bottom: rem;
	}

	h3 {
		margin-top: 2rem;
	}

	img {
		margin: 2rem auto;
	}

	h2 {
		font-size: 2rem;
		font-weight: 600;
	}
}
</style>