---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
import PageWrapper from '../components/pageWrapper.vue';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

export interface Props {
	title?: string;
	description?: string;
	image?: string;
	mainClasses?: string;
	pageType?: 'jobpost' | 'blogpost' | 'default';
}

const { title, description, image, mainClasses = '', pageType = 'default'} = Astro.props;
const { locale } = Astro.locals;
const _title = title || SITE_TITLE;
const _description = description || SITE_DESCRIPTION;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={_title} description={_description} image={image || ''} />
	</head>
	<body data-translation={locale} data-page-type={pageType}>
		<PageWrapper client:load>
			<Header client:load />
			<main class={mainClasses}>
				<slot />
			</main>
			<Footer client:load />
		</PageWrapper>
		<!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://m.okturtles.org/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '5']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img referrerpolicy="no-referrer-when-downgrade" src="https://m.okturtles.org/matomo.php?idsite=5&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
	</body>
</html>

